@media (max-width: 1199px) {
  h2 {
    font-size: 45px;
  }
}
@media (max-width: 991px) {
  .content {
    width: 70%;
  }
}
@media (max-width: 767px) {
  .content {
    width: 92%;
  }
}
@media (max-width: 575px) {
  h2 {
    font-size: 45px;
  }
}
